/target
.idea
/*/.bundle

# Ignore the default SQLite database.
/*/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/logs
/*/log/*.log
/*/*.log
/*/tmp
/*/.idea/*
classes
.project
.classpath
.settings
.DS_Store
target
bin
database.yml
*.iml
rebel.xml
